<script>
    var domain = '{{ site.url }}';
</script>
{% javascript app.js %}

<script>
$(function() {
    // Initialize a Showdown converter
    App.showdown = new Showdown.converter();
    // Initialize the Backbone router.
    App.router = new App.Router();
    {% if site.mode != 'development' %}
            //Backbone.history.start({ pushState: true });
            Backbone.history.start();
    {% else %}
            Backbone.history.start();
    {% endif %}

    // Check for orientation change, adjust body class
    function orient() {  
        if (window.orientation === 0 || window.orientation === 180) {
            //$("body").addClass("class", "portrait");
            $("body").addClass("portrait");
            $("body").removeClass("landscape");
            orientation = 'portrait';
            return false;
        }
            else if (window.orientation === 90 || window.orientation === -90) {
            $("body").addClass("landscape");
            $("body").removeClass("portrait");
            orientation = 'landscape';
            return false;
        }
    }
    /* Call orientation function on page load */
    $(function(){
            orient();
    });
    /* Call orientation function on orientation change */
    $(window).bind( 'orientationchange', function(e){
            orient();
    });
});
</script>

{% if site.mode == 'development-w-grunt' %}
    <script src="//localhost:35729/livereload.js"></script>
    <script type='text/javascript'>//<![CDATA[
    ;document.write("<script defer src='//HOST:3000/socket.io/socket.io.js'><\/script><script defer src='//HOST:3001/client/browser-sync-client.0.9.1.js'><\/script>".replace(/HOST/g, location.hostname));
    //]]></script>
{% endif %}
{% if site.mode != 'development' %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.analytics.ga_tracking_id }}', 'auto');

    </script>
    <script type="text/javascript">
      var _sf_async_config = { uid: 5276, domain: 'solutions.thischangeseverything.org', useCanonical: true };
      (function() {
        function loadChartbeat() {
          window._sf_endpt = (new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
          document.body.appendChild(e);
        };
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    </script>
    {% else %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    </script>
{% endif %}
