    <header class="site-header">
            <nav class="tce" role="navigation">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="branding" href="http://thischangeseverything.org"><h1>This Changes Everything</h1></a>
            </nav>
            <nav class="bsol" role="navigation">
                <a class="branding" href="/"><h1>Beautiful Solutions</h1></a>
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </nav>
    </header>
