    <header class="site-header">
            <nav class="tce" role="navigation">
                <i class="icon-button glyphicon glyphicon-align-justify"></i>
                <a class="branding" href="http://thischangeseverything.org"><h1>This Changes Everything</h1></a>
            </nav>
            <nav class="bsol" role="navigation">
                <a class="branding" href="/"><h1>Beautiful Solutions</h1></a>
                <i class="icon-button glyphicon glyphicon-align-justify"></i>
            </nav>
            <nav class="app-mode-toggle" role="navigation">
                <i class="icon-button glyphicon glyphicon-plus"></i>
                <i class="icon-button glyphicon glyphicon-th"></i>
            </nav>
    </header>
