<div class="container">
    <div class="row no-pad">
        <div id="about-copy" class="col-md-6 about">
            <h2>About Beautiful Trouble</h2>
            <p>Beautiful Trouble is a book, <a href="http://beautifultrouble.org/">web toolbox</a> and international network of artist-activist <a href="http://beautifultrouble.org/trainings/">trainers</a> whose mission is to make grassroots movements more creative and more effective. Used by campaigns and in classrooms across the world, it’s an invaluable resource for veterans and newbie activists alike, pulling together a toolbox of interlocking design principles to instigate everything from a flash mob to a revolution.</p>
            <h2>About Beautiful Solutions</h2>
            <p>Beautiful Solutions gathers the most promising and contagious strategies for building new institutions grounded in justice and sustainability. It is designed as a companion to Beautiful Trouble, and builds off its popular <a href="http://beautifultrouble.org/introduction/">model</a> for distilling the component pieces of effective organizing. In addition to the web platform, a book version, Beautiful Solutions: A Toolbox for the Future is scheduled for Fall 2015.</p>
            <h2>CopyLeft</h2>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Beautiful Solutions</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">various authors</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="solutions.thischangeseverything.org" rel="cc:morePermissions">solutions.thischangeseverything.org</a>.
            </p>
        </div>
        <div class="col-md-6">
            <span class="tab tab-active">Core Team</span>
            <div id="team">
                <h3>Rachel Plattus</h3>
                <p>Rachel Plattus is Co-Editor of Beautiful Solutions and Co-Director of Organizing at the <a href="http://www.neweconomy.net/">New Economy Coalition</a> (NEC). She coordinates NEC's youth and student organizing and community reinvestment efforts, and works to build broad community, movement and organizational engagement in creating an alternative economic system that is restorative to people, place and the planet. Someday she would like to be a heron or a whale. She lives in Jamaica Plain, MA.</p>
                <h3>Eli Feghali</h3>
                <p>Eli Feghali is Co-Editor of Beautiful Solutions and Director of Communications and Online Organizing for the <a href="http://www.neweconomy.net/">New Economy Coalition</a> (NEC). He is a Lebanese-American who spent two months in 2011 occupying a park in Boston to prove another world was possible. Through NEC and Beautiful Solutions, Eli works to tell the story of what that other world could look like -- and how we can get there. Despite his love for pizza, he is vegan.</p>
                <h3>Dave Oswald Mitchell</h3>
                <p>Dave Oswald Mitchell is Editorial Director of the <a href="http://beautifultrouble.org/">Beautiful Trouble</a> project. He is a freelance editor, researcher, and communications strategist whose work focuses on supporting social change and community organizing initiatives. He edited <a href="http://briarpatchmagazine.com/">Briarpatch Magazine</a> from 2005 to 2010. His interests include found haiku, photography, and going elsewhere.</p>
                <h3>Andrew Boyd</h3>
                <p>Andrew Boyd is Co-Editor and Wrangler-in-Chief of the <a href="http://beautifultrouble.org/">Beautiful Trouble</a> project. A long-time veteran of creative campaigns for social change, he led the decade-long satirical media campaign “Billionaires for Bush” and co-founded the Other 98%. He's the author of three books: Daily Afflictions, Life’s Little Deconstruction Book and the creative action manual The Activist Cookbook. Unable to come up with with his own lifelong ambition, he’s been cribbing from Milan Kundera: “to unite the utmost seriousness of question with the utmost lightness of form.” You can find him at <a href="http://andrewboyd.com/">andrewboyd.com</a>.</p>
                <h3>Adrian Carpenter</h3>
                <p>Adrian Carpenter is the Senior Developer for the Beautiful Trouble project. Not so comfortable talking about himself in 3° person, Adrian would prefer to be closing a shell session having solved another data structure problem. Aspires to a life without machines, politicians or lawyers; sees their value for the time being.</p>
                <h3>Cristian Fleming</h3>
                <p>Cristian Fleming is the founder and principal of The Public Society and Creative Director for the Beautiful Trouble project. With nearly 20 years of experience architecting stories, identities, online and offline experiences for companies and causes alike, Cristian founded The Public Society with the ambition of creating a new kind of design firm that challenges what design can be, and who can be a designer. He lives in Brooklyn with his journalist wife and two cats.</p>
                <h3>Elise Pyo</h3>
                <p>Elise Pyo is a modern day nomad (aka an Army brat), who has spent the past 23 years traversing the globe. Now settled in NYC, she draws on her diverse experiences to color her visual voice. Her design background ranges from digital and web to print and packaging, with an ever-expanding curiosity for interactive forms. Regardless of the medium, Elise's work is fueled by her passion to enact positive change in the world. She believes that design is a very real weapon whose capability to evoke emotion and inspire action can combat everything from global warming to human trafficking. In her spare time, Elise enjoys long walks on the beach, eating lemons, and playing with her cat.</p>
                <h3>Phillip Smith</h3>
                <p> Phillip Smith is the Director of Technology for the award-winning online daily news site The Tyee, as well as the Technology Director for Beautiful Trouble. For almost two decades Phillip has provided expert technical advice and hands-on software development to innovative and progressive organizations. He's passionate about many things seemingly outdated in a fast-moving world, like reading instead of skimming, and good ol' e-mail over social media.</p>
                <p>Photo editing by Chelsea Taylor Flook.</p>
                <p><a href="https://gt.net/">Fast, secure &amp; proudly-Canadian hosting by GT.net</a></p>
            </div>
        </div>
    </div>
</div>
