    <div class="container">
        <div class="row">
            <div class="col-md-6 tce">
                <h1>This Changes Everything</h1>
                <ul class="list-inline">
                    <li><a href="http://thischangeseverything.org/book">Book</a></li>
                    <li><a href="http://thischangeseverything.org/blog">Blog</a></li>
                    <li><a href="http://thischangeseverything.org/about">About</a></li>
                </ul>
                <ul class="list-inline social">
                    <li><a href="https://twitter.com/thischanges"><i class="fa fa-twitter-square fa-lg"></i></a></li>
                    <li><a href="https://www.facebook.com/thischangeseverythingproject"><i class="fa fa-facebook-square fa-lg"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCU0sbNy2ls964qwO5Tc5gcg"><i class="fa fa-youtube-square fa-lg"></i></a></li>
                    <li><a href="http://vimeo.com/thischangeseverything"><i class="fa fa-vimeo-square fa-lg"></i></a></li>
                </ul>
            </div> 
            <div class="col-md-6 bsol">
                <h1>Beautiful Solutions</h1>
                <ul class="list-inline">
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#idealab">Lab</a></li>
                    <li><a href="#index">Index</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
                <ul class="list-inline social">
                    <li><a href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square fa-lg"></i></a></li>
                </ul>
                <p class="copyright"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Beautiful Solutions</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">various authors</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="solutions.thischangeseverything.org" rel="cc:morePermissions">solutions.thischangeseverything.org</a>.</p>
                <p><a href="#credits">Site credits</a> &middot; <a href="https://gt.net/">Fast, secure & proudly-Canadian hosting by GT.net</a></p>
                <p><a href="http://github.com/BeautifulTrouble/">solutons.thischangeseverything.org</a> v0.0.1</p>
            </div> 
        </div>
    </div>
