    <div class="container">
        <div class="row">
            <div class="col-md-6 tce">
                <h1>This Changes Everything</h1>
                <ul class="list-inline">
                    <li><a href="http://thischangeseverything.org/book">Book</a></li>
                    <li><a href="http://thischangeseverything.org/blog">Blog</a></li>
                    <li><a href="http://thischangeseverything.org/about">About</a></li>
                </ul>
                <ul class="list-inline social">
                    <li><a href="https://twitter.com/thischanges"><i class="icon-icn-social-twitter-2"></i></a></li>
                    <li><a href="https://www.facebook.com/thischangeseverythingproject"><i class="icon-icn-social-fb-2"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCU0sbNy2ls964qwO5Tc5gcg"><i class="icon-icn-social-yt-2"></i></a></li>
                    <li><a href="http://vimeo.com/thischangeseverything"><i class="icon-icn-social-vimeo-2"></i></a></li>
                </ul>
            </div> 
            <div class="col-md-6 bsol">
                <h1>Beautiful Solutions</h1>
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#idealab">Lab</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="https://donatenow.networkforgood.org/beautifulsolutions">Donate</a></li>
                </ul>
                <ul class="list-inline social">
                    <li><a href="https://twitter.com/be_solutions"><i class="icon-icn-social-twitter-2"></i></a></li>
                    <li><a href="https://www.facebook.com/beautifulsolutionsproject"><i class="icon-icn-social-fb-2"></i></a></li>
                </ul>
                <p class="copyright"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a></p>                               <p><a href="https://github.com/BeautifulTrouble/solutions.thischangeseverything.org">solutons.thischangeseverything.org</a> v1.0.0</p>
            </div> 
        </div>
    </div>
