    <div class="container">
        <div class="row">
                <nav class="tce col-md-5" role="navigation">
                    <a class="branding" href="http://thischangeseverything.org"><h1>This Changes Everything</h1></a>
                </nav>
                <nav class="bsol col-md-7" role="navigation">
                    <h1>Beautiful Solutions</h1>
                    <i class="icon-button icon-menu"></i>
                    <i class="icon-button icon-gallery"></i>
                    <i class="icon-button icon-lab"></i>
                </nav>
        </div>
    </div>
