    <div class="navbar-fixed-top">
        <div class="container">
            <div class="row no-pad">
                <nav class="tce col-md-4 col-lg-3 col-lg-extra-half" role="navigation">
                    <a class="branding" href="http://thischangeseverything.org"><h1>This Changes Everything</h1></a>
                </nav>
                <nav class="bsol col-md-8 col-lg-8 col-lg-extra-half" role="navigation">
                    <h1>Beautiful Solutions</h1>
                    <div class="dropdown">
                        <i title="Navigation" class="icon-button icon-menu dropdown-toggle" id="dropdownMenu" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#about">About</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#index">Index</a></li>
                            <li role="presentation" class="social">
                                <a href="https://twitter.com/be_solutions"><i class="icon-icn-social-twitter-2"></i></a>&nbsp;<a href="https://www.facebook.com/beautifulsolutionsproject"><i class="icon-icn-social-fb-2"></i></a></li>
                        </ul>
                    </div>
                    <i title="Gallery" class="icon-button icon-gallery"></i>
                    <i title="Lab" class="icon-button icon-lab"></i>
                </nav>
            </div>
        </div>
    </div>
