                <aside id="idealab-idea-done">
                    <h1>Add your own idea</h1>
                    <p>Thanks very much for your submission! A portion of submissions will be posted to the Lab based on relevance and clarity. Unfortunately, due to the volume of submissions, we cannot guarantee a prompt response to inquiries about individual lab submissions. We read all submissions carefully and are excited to read yours!</p>
                    <button type="button" class="add-another">Add another idea</button>
                </aside>
