                <aside id="idealab-idea-done">
                    <h1>Add your own idea</h1>
                    <p>Thank you for sharing your idea! We're so excited to learn more about your work.</p>
                    <button type="button" class="add-another">Add another idea</button>
                </aside>
