                <aside id="idealab-improvement-login">
                    <h2>Please login</h2>
                    <div class="icon-wrapper"><i class="icon icon-usersubmit"></i></div>
                    <p>We just want to know you're somebody real. Pick one of these services to vouch for you, and we'll leave it at that. <span class="asterisk"></span></p>
                    <div class="login-icons">
                        <span class="provider login-twitter">
                            <a href="/api/login/twitter" class="login"><i class="icon icon-icn-social-twitter-2"></i></a>
                            <div>Twitter</div>
                        </span>
                        <span class="provider login-facebook">
                            <a href="/api/login/facebook" class="login"><i class="icon icon-icn-social-fb-2"></i></a>
                            <div>Facebook</div>
                        </span>
                        <span class="provider login-google">
                            <a href="/api/login/google" class="login"><i class="icon icon-icn-social-gplus-2"></i></a>
                            <div>Google+</div>
                        </span>
                    </div>
                    <h6>
                        <span class="asterisk"></span>
                        We're saving you from yet another account &amp; password. And we're saving us from keeping track. We don't use these third party services to do anything weird, fancy or unpleasant. If you choose to login with Google or Facebook, we'll store the name and email address associated with either of those accounts. If you login with Twitter, we'll store your Twitter username. That's really all we do with this, and we hope that improves our chances of hearing from you.
                    </h6>
                </aside>
