<div class="container">
    <article id="idealab-list">
        <div class="row">
            <div class="col-md-7">
                <header>
                    <h5>Welcome to the</h5>
                    <h1>Idea Lab</h1>
                    <p>
                        Bacon ipsum sin guacamole de los estudiantes en el chupacabra.
                    </p>

                    <span class="published tab tab-<%= state=='published'?'active':'inactive' %>">Published Gallery</span><span class="submitted tab tab-<%= state=='submitted'?'active':'inactive' %>">Submitted Ideas</span>
                </header>

                <% if (state == "published") { %>

                <table id="idealab-published" class="table table-striped">
                    <caption class="hide">Published Gallery</caption>
                    <thead>
                        <tr>
                            <th>Idea</th>
                            <th>Contributor</th>
                            <th><i class="glyphicon glyphicon-user"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% published.each(function(model) { if (model) { %>
                        <tr class="<%= model.attributes.type %> data-slug" data-slug="<%= model.attributes.slug %>">
                            <td><%= model.attributes.title %></td>
                            <td>
                                <ul class="list-comma">
                                    <% _.each(model.attributes.contributors, function(contributor) { if (contributor) { %>
                                    <li><%= contributor %></li>
                                    <% } }); %>
                                </ul>
                            </td>
                            <td>?</td>
                        </tr>
                        <% } }); %>
                    </tbody>
                </table>

                <% } else if (state == "submitted") { %>

                <table id="idealab-submitted" class="table table-striped">
                    <caption class="hide">Submitted Ideas</caption>
                    <thead>
                        <tr>
                            <th>Idea</th>
                            <th>Contributor</th>
                            <th>Added</th>
                            <th><i class="glyphicon glyphicon-heart"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% submitted.each(function(model) { if (model) { %>
                        <tr class="data-slug" data-slug="<%= model.attributes.slug %>">
                            <td><%= model.attributes.title %></td>
                            <td><%= model.attributes.contributors[0] %></td>
                            <td><%= model.attributes.short_date %></td>
                            <td>0</td>
                        </tr>
                        <% } }); %>
                    </tbody>
                </table>

                <% } %>

            </div>
            <div class="col-md-5">
                <div id="idealab-sidebar" style="background:#aaa;height:1000px;">
                </div>
            </div>
        </div>
    </article>
</div>
