<div id="idealab" class="container">
    <div class="row">
        <div class="col-md-7">
            <div id="idealab-main">
            </div>
        </div>
        <div class="col-md-5">
            <div id="idealab-sidebar">
            </div>
        </div>
    </div>
</div>
