                <aside id="idealab-improvement">
                    <h2>Improve this idea</h2>
                    <p>The Beautiful Solutions Gallery is a collaborative work-in-progress that will continue to grow over the coming months. We will publish new entries based on your ideas, and improve and expand upon existing ones.</p>
                    <p>Please help us improve existing entries by sharing examples of the idea in action, resources that explore the idea, and questions that help to clarify the idea’s usefulness. Keeping your suggestions short and specific will make it easier for us to incorporate your feedback. Thanks in advance for helping make this toolbox as beautiful as it can be!</p>
                    <button type="button" class="add-an-example">Add an example</button>
                    <form id="add-an-example" class="hidden">
                        <p>Please add an example of this idea in action.</p>
                        <input type="hidden" name="type" value="example">
                        <input type="hidden" name="module" value="<%= slug %>">
                        <h4>Description:</h4>
                        <textarea rows="4" name="content" placeholder="Add description."></textarea>
                        <div class="field-error"></div>
                        <h4>Link to example:</h4>
                        <input type="text" name="link" placeholder="http://examplelink.com">
                        <div class="field-error"></div>
                        <h4>Your email:</h4>
                        <!--<div class="logout" title="Log out">&times;</div>-->
                        <input type="text" name="contact" placeholder="you@mail.com">
                        <div class="field-error"></div>
                        <input type="button" value="Contribute" class="add-an-example">
                    </form>
                    <button type="button" class="add-a-resource">Add a resource</button>
                    <form id="add-a-resource" class="hidden">
                        <p>Know of a book, article, or documentary that explores this idea? Add it here.</p>
                        <input type="hidden" name="type" value="resource">
                        <input type="hidden" name="module" value="<%= slug %>">
                        <h4>Description:</h4>
                        <textarea rows="4" name="content" placeholder="Add description."></textarea>
                        <div class="field-error"></div>
                        <h4>Link to resource:</h4>
                        <input type="text" name="link" placeholder="http://resourcelink.com">
                        <div class="field-error"></div>
                        <h4>Your email:</h4>
                        <!--<div class="logout" title="Log out">&times;</div>-->
                        <input type="text" name="contact" placeholder="you@mail.com">
                        <div class="field-error"></div>
                        <input type="button" value="Contribute" class="add-a-resource">
                    </form>
                    <button type="button" class="add-a-question">Add a question</button>
                    <form id="add-a-question" class="hidden">
                        <p>Ask a question about this idea.</p>
                        <input type="hidden" name="type" value="question">
                        <input type="hidden" name="module" value="<%= slug %>">
                        <input type="hidden" name="link" value="">
                        <h4>Your question:</h4>
                        <textarea rows="4" name="content" placeholder="Add your question."></textarea>
                        <div class="field-error"></div>
                        <h4>Your email:</h4>
                        <!--<div class="logout" title="Log out">&times;</div>-->
                        <input type="text" name="contact" placeholder="you@mail.com">
                        <div class="field-error"></div>
                        <input type="button" value="Contribute" class="add-a-question">
                    </form>
                </aside>
