                <aside id="idealab-improvement">
                    <h2>Improve this idea</h2>
                    <p>Stuff</p>
                    <form>
                        <h3>Your name:</h3>
                        <input type="text" name="name"><br>
                        <h3>Your email:</h3>
                        <input type="text" name="contact"><br>
                        <input type="button" value="Contribute" class="add-idea">
                    </form>
                </aside>
