                <aside id="idealab-idea">
                    <h2>Add your own idea</h2>
                    <p>Great minds think alike! Before submitting your own idea, please take a look around the Gallery and Lab for inspiration. Someone might already be thinking along the same lines.</p>
                    <p>A selection of the best ideas will be turned into published gallery pieces.</p>
                    <form>
                        <h3>Title:</h3>
                        <input type="text" name="title"><br>
                        <h3>Description:</h3>
                        <input type="textarea" name="short_write_up"><br>
                        <h3>Your name:</h3>
                        <input type="text" name="name"><br>
                        <h3>Your email:</h3>
                        <input type="text" name="contact"><br>
                        <input type="button" value="Contribute" class="add-idea">
                    </form>
                </aside>
