                <aside id="idealab-idea-done">
                    <h1>Add your own idea</h1>
                    <p>Thank you for idea! We'll review what you've submitted shortly, and as long as we feel it adds something original and groundbreaking, we'll add it to the lab where others can view, improve and "love" it.</p>
                    <button type="button" class="add-another">Add another idea</button>
                </aside>
