                <aside id="idealab-idea">
                    <h1>Add your own idea</h1>
                    <p>Great minds think alike! Before submitting your own idea, please take a look around the Gallery and Lab for inspiration. Someone might already be thinking along the same lines.</p>
                    <p>A selection of the best ideas will be turned into published gallery pieces.</p>
                    <form id="add-idea">
                        <h4>Title:</h4>
                        <input type="text" name="title" placeholder="Name your idea.">
                        <div class="field-error"></div>
                        <h4>Description:</h4>
                        <textarea rows="6" name="short_write_up" placeholder="Briefly describe your idea (try to keep it under 256 words)."></textarea>
                        <div class="field-error"></div>
                        <h4>Your name:</h4>
                        <input type="text" name="name">
                        <div class="field-error"></div>
                        <h4>Your email:</h4>
                        <input type="text" name="contact">
                        <div class="field-error"></div>
                        <input type="button" value="Contribute" class="add-idea">
                    </form>
                    <!--
                    <a href="/api/logout" class="logout"><i class="fa fa-close"></i></a>
                    -->
                </aside>
                <aside id="idealab-idea-done" class="hidden">
                    <h1>Add your own idea</h1>
                    <p>Thank you for sharing your idea! We're so excited to learn more about your work.</p>
                    <button type="button" class="add-another">Add another idea</button>
                </aside>
                <aside id="idealab-idea-login" class="hidden">
                    <h2>Please login</h2>
                    <div class="icon-wrapper"><i class="icon icon-usersubmit"></i></div>
                    <p>We just want to know you're somebody real. <br>Pick one of these services to vouch for you, and we'll leave it at that. <span class="asterisk"></span></p>
                    <div class="login-icons">
                        <span class="provider login-twitter">
                            <a href="/api/login/twitter" class="login"><i class="icon icon-icn-social-twitter-2"></i></a>
                            <div>Twitter</div>
                        </span>
                        <span class="provider login-facebook">
                            <a href="/api/login/facebook" class="login"><i class="icon icon-icn-social-fb-2"></i></a>
                            <div>Facebook</div>
                        </span>
                        <span class="provider login-google">
                            <a href="/api/login/google" class="login"><i class="icon fa fa-google-plus"></i></a>
                            <div>Google+</div>
                        </span>
                    </div>
                    <h6>
                        <span class="asterisk"></span>
                        We're saving you from yet another account &amp; password. 
                        And we're saving us from keeping track. 
                        Apart from your <em>contributions</em>, the only thing we're storing is the name and contact you give us. 
                        We hope this improves our chances of hearing from you.
                    </h6>
                </aside>
                <aside id="idealab-idea-fail" class="hidden">
                    <h1>Oh %#$@!</h1>
                    <div class="icon-wrapper"><i class="icon icon-usersubmit"></i></div>
                    <p>
                        Something wrong happened on our end. We hope you'll try again soon. The server responded with:
                        <span class="server-error"></span>
                    </p>
                    <button type="button" class="add-another">Try again</button>
                </aside>
