                <aside id="idealab-idea">
                    <h1>Add your own idea</h1>
                    <p>Great minds think alike! Before submitting your own idea, please take a look around the Gallery and Lab for inspiration. Someone might already be thinking along the same lines.</p>
                    <p>A selection of the best ideas will be turned into published gallery pieces.</p>
                    <form id="add-idea">
                        <h4>Title:</h4>
                        <input type="text" name="title" placeholder="Name your idea.">
                        <div class="field-error"></div>
                        <h4>Description:</h4>
                        <textarea rows="6" name="short_write_up" placeholder="Briefly describe your idea (try to keep it under 256 words)."></textarea>
                        <div class="field-error"></div>
                        <h4>Your name:</h4>
                        <input type="text" name="name" placeholder="First Middle Last">
                        <div class="field-error"></div>
                        <h4>Your email:</h4>
                        <!--<div class="logout" title="Log out">&times;</div>-->
                        <input type="text" name="contact" placeholder="you@mail.com">
                        <div class="field-error"></div>
                        <input type="button" value="Contribute" class="add-idea">
                    </form>
                </aside>
