                <aside id="idealab-improvement-done">
                    <h2>Improve this idea</h2>
                    <p>Thank you for suggesting improvements to this idea! Our team will review your submission and make changes as needed.</p>
                    <button type="button" class="add-another">Add another improvement</button>
                </aside>
