                <aside id="idealab-improvement-fail">
                    <h1>Oh %#$@!</h1>
                    <div class="icon-wrapper"><i class="icon icon-usersubmit"></i></div>
                    <p>
                        Something went wrong on our end. We apologize and hope you'll try again later.
                    </p>
                    <button type="button" class="add-another">Try again</button>
                </aside>
