<div class="container">
    <article id="module">
        <figure>
            <img src="/full_images/<%= images[0].url %>" title="<%= images[0].caption %>">
            <% if ( images[0].caption && images[0].source ) { %>
            <figcaption><%= images[0].caption %> | <%= images[0].source %></figcaption>
            <% } %>
        </figure>
        <header>
            <h5 class="type"><%= type %>:</h5>
            <h1 class="title"><%= title %></h1>
        </header>
        <div class="row no-pad">
            <div class="col-md-7">
                <section>
                    <div class="row no-pad">
                       <div class="col-md-3 byline">
                            <p>by <span class="contributor"><%= contributors[0] %></span></p>
                       </div> 
                       <div class="col-md-8 values">
                            <ul class="list-comma">
                                <span>Values</span>
                                <% _.each(related_values, function(value) { if (value) { %>
                                <li><%= value %></li>
                                <% } }); %>
                            </ul>
                        </div>
                        <div class="col-md-1 share-icon"><i class="icon icon-share"></i></div>
                    </div>
                    <div id="summary">
                        <p><%- short_write_up %></p>
                         <dl class="learn-more-item-list">
                        </dl>
                    </div>
                    <div class="meta clearfix">
                        <div class="icon-tags">
                        <i class="icon icon-tag"></i>
                        </div>
                    <!--https://basecamp.com/1850835/projects/6447119/messages/30549111#comment_195218482-->
                        <div class="meta-info">
                            <ul class="tags list-comma">
                                <span>Tags</span>
                                <% _.each(tags, function(tag) { if (tag) { %>
                                <li><%= tag %></li>
                                <% } }); %>
                            </ul>
                            <% if ( type === 'story' ) { %>
                            <dl>
                                <dt>Who:</dt><dd><%= who %></dd>
                                <dt>When:</dt><dd><%= when %></dd>
                                <dt>Where:</dt><dd><%= where %></dd>
                                <% if ( scale ) { %>
                                <dt>Scale:</dt><dd><%= scale %></dd>
                                <% } %>
                            </dl>
                             <% } %>
                         </div>
                     </div>
                    <div id="button-bar" class="clearfix">
                        <button type="button" class="improve-this">Improve This</button>
                    </div>
                    <aside id="learn-more">
                        <h2 class="learn-more">Learn More</h2>
                        <div class="row">
                            <% _.each(learn_more, function(item) { if (item) { %>
                            <div class="learn-more-type col-md-2">
                                <p><%= item.type %></p>
                            </div>
                            <div class="learn-more-item col-md-10">
                                <p class="title"><a href="<%= item.url %>"><%= item.title %></a><br />
                                    <span class="description"><%= item.description %></span></p>
                            </div>
                            <% } }) %>
                        </div>
                    </aside>
                </section>
            </div>
            <div class="col-md-5">
                <aside id="related-entries">
                    <h3 class="list-header">Related Entries</h3>
                    <div id="related-list"></div>
                </aside> 
            </div>
        </div>
    </article>
</div>
<div id="share-popover" style="display:none;">
    <ul class="list-inline share-tools">
        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
    </ul>
</div>
