/* ==========================================================================
CSS/LESS includes
========================================================================== */
//= require bootstrap.css
//= require bsol.css


/* ==========================================================================
Globals & Mixins
========================================================================== */
.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.box-shadow (@x: 0; @y: 0; @blur: 1px; @color: rgba(0,0,0,0.3)) {
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    box-shadow: @arguments;
}

.ow-mine-eyes () {
    text-shadow: 0px 10px 70px rgba(0,0,0,.8), 0 1px 2.2px rgba(0,0,0,0.4);
}
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}
.list-comma {
    display: inline;
    list-style: none;
    padding: 0;
    li {
        display: inline;
    }
    li:after {
        content: ", ";
    }
    li:last-child:after {
        content: "";
    }
}

/* ==========================================================================
Variables
========================================================================== */

// Breakpoints

//("all", 0px),
//("small", 420px),
//("medium", 640px),
//("large", 960px),
//("xlarge", 1200px)


// Style tiles, Colours
@white: #ffffff;
@gray: #7A7979;
@lightGray: rgb(240,240,240);
@bodyText: #5c5d60;
@blockHeaders: #093742;
@articleHeaders: #628C00;
@articleDesc: #575756;
@linkText: #083643;
@bodyBackground: white;
@tactic: rgba(39,48,30,0.5);
@solution: rgba(82,44,2,0.5);
@theory: rgba(84,23,37,0.5);
@buttons: #49c8ef;
@meta: #5c5d60;
// Brand coloring
@brando: #49c8ef;

// Style tiles, Fonts
@fontDefault: "source-sans-pro";
@fontHeadersDefault: "alternate-gothic-no-2-d";
.mixin-photocredits {
    color: white;
    font-family: @fontDefault;
    font-size: 0.9em;
    .text-shadow;
}

// Sizes
@std-padding: 20px;

/* ==========================================================================
Global selectors
========================================================================== */

html {
    overflow-y: scroll;
}

body {
    background-color: @bodyBackground;
    color: @bodyText;
    font-family: @fontDefault;
}

.row.no-pad {
    margin-left: 0;
    margin-right: 0;
}
.row.no-pad > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}

a:link, a:visited, a:hover {
    color: @brando;
}

// Let's add some pointers

.icon-button, .module-list-item, .filter, .values li, .tags li {
    cursor: pointer;
}

/* ==========================================================================
Type
========================================================================== */

h1, h2, h3, h4 {
    font-family: @fontHeadersDefault;
}

/* ==========================================================================
Layout
========================================================================== */

footer.site-footer {
    background: black;
    height: 200px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ==========================================================================
Modules
========================================================================== */

// Module: Header navigation, .site-nav
header.site-header {
    background: black;
    padding-left: 0px;
    .icon-button {
        color: white;
        font-size: 1.2em;
        position: relative;
        top: 12px;
    }
    .tce {
        height: 42px;
        background: black;
        h1 {
            background: url('/ui/img/TCEwordmark.svg') no-repeat 0px 8px black;
            text-indent: -5000px;
            width: 295px;
            margin: 0px;
            float: left;
        }
    }
    .bsol {
        height: 42px;
        background-color: @brando;
        h1 {
            background: url('/ui/img/BSOLwordmark.svg') no-repeat 0px 8px;
            float: left;
            width: 240px;
            text-indent: -5000px;
            margin: 0px;
            cursor: pointer;
        }
        .icon-menu {
            float: left;
        }
        .icon-gallery {
            float: right;
        }
        .icon-lab {
            float: right;
        }
    }
}

// Module: Modules list view (gallery view)
// body.modules-list-view
body.modules-list-view {
    #modules-gallery{
        padding-top: 10px;
        header ul {
            padding-top: 6px;
            li {
                color: @brando;
                font-family: @fontHeadersDefault;
                font-size: 1.438em;
                text-transform: uppercase;
            }
            li.filter {
                color: @bodyText;
            }
            li.active {
                color: black;
            }
        }
    }
    .module-list-item.size-1 {
        width: 310px;
        height: 250px;
    }
    .module-list-item.size-2 {
        width: 310px;
        height: 300px;
    }
    .module-list-item.size-3 {
        width: 310px;
        height: 400px;
    }
    .caption {
        width: 100%;
        height: 100%;
        margin: 0;
        color: white;
        padding: 22px;
        background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
    }
    h5 {
        font-family: @fontHeadersDefault;
        margin: 0;
        text-transform: uppercase;
        font-size: 1.125em;
    }
    h3 {
        font-family: @fontDefault;
        font-size: 1.5em;
        background: none;
        margin: 0;
        .text-shadow;
    }
}

// Module: Value detail view
// body.value-detail-view
body.value-detail-view {
    #content {
        padding-top: 0px;
    }
}
article#value {
    #related-list {
        .module-list-item {
            width: 198px;
            height: 198px;
            color: white;
            border: 1px solid @gray;
        }
        .caption {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
            margin: 0;
            padding: 0;
        }
        h5 {
            font-family: @fontHeadersDefault;
            margin: 0;
            text-transform: uppercase;
        }
        h3 {
            font-family: @fontDefault;
            font-size: 1em;
            background: none;
            margin: 0;
            .text-shadow;
        }
        .caption {
            padding: 6px;
        }
    }
    header {
        margin-top: 20px;
        .type {
            text-transform: uppercase;
            position: relative;
            top: 5px;
        }
        h1 {
            margin: 0;
            font-size: 4.375em;
            line-height: 52px;
            margin: 14px 0px 20px 0px;
        }
        h5 {
            font-family: @fontHeadersDefault;
            margin: 0;
            font-size: 1.188em;
        }
    }
    section
    #summary {
        padding-right: 20px;
    }
    #button-bar {
        button {
            color: white;
            font-weight: bold;
            background: @bodyText;
            border: none;
            text-align: center;
            text-transform: uppercase;
            padding: 6px 40px 6px 40px;
        }
    }
}

// Module: Module detail view
// body.module-detail-view
article#module {
    figure {
        img {
            // Find a better solution
            position: fixed;
            top: 0; left: 0;
            width: 100%;
            z-index: -9999;
        }
        figcaption {
            .mixin-photocredits;
            position: relative;
            top: 10px;
        }
    }
    header {
        margin-top: 20%;
        .type, .title {
            .ow-mine-eyes;
            color: white;
            padding: 0 @std-padding;
        }
        .type {
            text-transform: uppercase;
            position: relative;
            top: 5px;
        }
        h1 {
            margin: 0;
            font-size: 4.375em;
        }
        h5 {
            font-family: @fontHeadersDefault;
            margin: 0;
            font-size: 1.188em;
        }
    }
    section {
        background: white;
        padding: @std-padding;
        .share-icon {
            float: right;
            color: @brando;
        }
        .byline {
            border-right: 1px solid @lightGray;
            font-size: 0.9em;
            font-weight: bold;
        }
        .byline span {
            color: @brando;
            text-transform: uppercase;
            font-weight: normal;
        }
        .tags span {
            margin-right: 14px;
        }
        .values {
            padding-left: 10px;
        }
        .values span, .tags span, .meta-info dt {
            color: @meta;
            font-size: 0.7em;
            font-weight: bold;
            text-transform: uppercase;
        }
        .meta-info {
            color: @meta;
            line-height: 2em;
            dt {
                float: left;
                clear: left;
                width: 40px;
                line-height: 2em;
            }
            dd {
                font-size: 0.8em;
                line-height: 2em;
            }
            dd:after {
                content: '';
                display: block;
                clear: both;
            }
        }
        .values li, .tags li {
            color: @brando;
            font-size: 0.9em;
        }
        #summary {
            margin-top: 10px;
            font-family: "source-sans-pro",sans-serif;
            font-style: normal;
            font-weight: 300;
        }
        .meta {
            float: left;
            width:100%;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 10px 0px 6px 0px;
            margin-bottom: 20px;
        }
        .icon-tags {
            float: left;
            width: 4%;
        }
        .meta-info {
            float: left;
            width: 94%;
        }
    }
    #button-bar button {
        background-color: @buttons;
        text-transform: uppercase;
        border: none;
        color: white;
        padding: 4px 8px 4px 8px;
    }
    aside#learn-more {
        h2 {
            background: @bodyText;
            color: white;
            font-size: 1.436em;
            font-family: @fontHeadersDefault;
            font-weight: normal;
            padding: 4px 0px 0px 20px;
            text-transform: uppercase;
        }
        .learn-more-type {
            padding-left: 35px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.8em;
        }
        .learn-more-item {
            padding-right: 30px;
        }
    }
    aside#related-entries {
        color: white;
        h3.list-header {
            background: black;
            text-transform: uppercase;
            margin: 0 1px;
            padding: 2px 0 0 4px;
        }
        .module-list-item {
            width: 32%;
            min-height: 100px;
            float: left;
            margin-left: 1%;
            margin-top: 1%;
            background-image: none !important;
            h5 {
                font-family: @fontHeadersDefault;
                margin: 0;
                text-transform: uppercase;
            }
            h3 {
                font-family: @fontDefault;
                font-size: 1em;
                background: none;
                margin: 0;
                .text-shadow;
            }
            .caption {
                padding: 6px;
            }
        }
        .tactic {
            background-color: @tactic;
        }
        .theory {
            background-color: @theory;
        }
        .solution {
            background-color: @solution;
        }
    }
}

/* Module: Share widget */

ul.share-tools {
    padding: 0px;
    margin: 0px;
    min-width: 50px;
}

/* ==========================================================================
Progressively enhance for larger screens
========================================================================== */

@media screen and (min-width: 768px) { /* Adjust for large desktop */

}

@media screen and (min-width: 768px) and (max-width: 1024px) { /* Adjust for standard desktop */

}

@media screen and (min-width:768px) and (max-width: 992px) { /* portrait tablets */

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* Put high-resolution display styles here */
}

/* ==========================================================================
Print styles.
Should be inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

// Don't show links for images, or javascript/internal links

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; // h5bp.com/t //
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
