/* ==========================================================================
CSS/LESS includes
========================================================================== */
//= require bootstrap.css


/* ==========================================================================
Globals & Mixins
========================================================================== */
.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.box-shadow (@x: 0; @y: 0; @blur: 1px; @color: rgba(0,0,0,0.3)) {
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    box-shadow: @arguments;
}

.ow-mine-eyes () {
    text-shadow: 0px 10px 70px rgba(0,0,0,.8), 0 1px 2.2px rgba(0,0,0,0.4);
}
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}
.list-comma {
    display: inline;
    list-style: none;
    padding: 0;
    li {
        display: inline;
    }
    li:after {
        content: ", ";
    }
    li:last-child:after {
        content: "";
    }
}
.button-style(@color: @buttons, @hoverColor: @bodyText) {
    background-color: @color;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.4em;
    font-family: @fontHeadersDefault;
    border: none;
    color: white;
    padding: 3px 12px 0px 12px;
    margin-right: 6px;
    margin-bottom: 6px;
    i {
        font-size: .8em;
        position: relative;
        left: 3%;
    }
    &:hover {
        background-color: @hoverColor;
    }
    &:focus, &:active {
        outline: none;
    }
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.mixin-photocredits {
    color: white;
    font-family: @fontDefault;
    font-size: 0.9em;
    .text-shadow;
}

.instagram(@color, @size:18em) when (@use-instagram) {
    // Generate some gauzy instagram-style phony coloring
    @r1: 30;    // % range that gradient centers deviate from corners
    @b2: 20%;   // Base fadeout value...
    @r2: 30;    // ...plus a random percentage up to this number
    @b3: 40%;   // Base desaturate value...
    @r3: 10;    // ...plus a random percentage up to this number
    @trans: transparent; //rgba(100,100,100,.05);  // What everything fades to
    @x1: percentage(`Math.random()*@{r1}/100`); @y1: percentage(`Math.random()*@{r1}/100`);
    @x2: percentage(`Math.random()*@{r1}/100`); @y2: 100% - percentage(`Math.random()*@{r1}/100`);
    @x3: 100% - percentage(`Math.random()*@{r1}/100`); @y3: percentage(`Math.random()*@{r1}/100`);
    @x4: 100% - percentage(`Math.random()*@{r1}/100`); @y4: 100% - percentage(`Math.random()*@{r1}/100`);
    @f1: @b2 + percentage(`Math.random()*@{r2}/100`); @f2: @b2 + percentage(`Math.random()*@{r2}/100`);
    @f3: @b2 + percentage(`Math.random()*@{r2}/100`); @f4: @b2 + percentage(`Math.random()*@{r2}/100`);
    @d1: @b3 + percentage(`Math.random()*@{r3}/100`); @d2: @b3 + percentage(`Math.random()*@{r3}/100`);
    @d3: @b3 + percentage(`Math.random()*@{r3}/100`); @d4: @b3 + percentage(`Math.random()*@{r3}/100`);
    background:
        -webkit-radial-gradient(@x1 @y1, @size @size, desaturate(fadeout(@color, @f1), @d1), @trans),
        -webkit-radial-gradient(@x2 @y2, @size @size, desaturate(fadeout(@color, @f2), @d2), @trans),
        -webkit-radial-gradient(@x3 @y3, @size @size, desaturate(fadeout(@color, @f3), @d3), @trans),
        -webkit-radial-gradient(@x4 @y4, @size @size, desaturate(fadeout(@color, @f4), @d4), @trans);
    background:
        radial-gradient(@size at @x1 @y1, desaturate(fadeout(@color, @f1), @d1), @trans),
        radial-gradient(@size at @x2 @y2, desaturate(fadeout(@color, @f2), @d2), @trans),
        radial-gradient(@size at @x3 @y3, desaturate(fadeout(@color, @f3), @d3), @trans),
        radial-gradient(@size at @x4 @y4, desaturate(fadeout(@color, @f4), @d4), @trans);
    // TODO: what the heck is the old -moz prefixed radial gradient syntax?
}

/* ==========================================================================
Variables
========================================================================== */

// Failed experiment (firefox slows to a crawl)
@use-instagram: "nuh uh";

// MEDIA QUERIES FOR BOOTSTRAP3 (xs, sm, md, lg)
// _up/_down suffixes meaning "at this size and up/down"
@xs: ~"only screen and (max-width: 767px)";
@sm: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@md: ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@lg: ~"only screen and (min-width: 1200px)";

@sm_up: ~"only screen and (min-width: 768px)";
@md_up: ~"only screen and (min-width: 992px)";

@sm_down: ~"only screen and (max-width: 991px)";
@md_down: ~"only screen and (max-width: 1199px)";

// Style tiles, Colours
@white: #ffffff;
@gray: #7A7979;
@darkGray: #393939;
@lightGray: rgb(240,240,240);
@bodyText: #5c5d60;
@blockHeaders: #093742;
@articleHeaders: #628C00;
@articleDesc: #575756;
@linkText: #083643;
@bodyBackground: white;
@value: #4fa179;
@story: #97c23a;
@solution: #eb9626;
@theory: #d65031;
@principle: #4daec4;
@buttons: @brando;
@meta: #5c5d60;
@backgroundAbout: #404040;
// Brand coloring
@brando: #49c8ef;
@lightBrando: #dbf4fc;
@twitter: #78cbef;
@google: #dc4937;
@facebook: #547bbc;

// Style tiles, Fonts
@fontDefault: "source-sans-pro";
@fontHeadersDefault: "alternate-gothic-no-2-d";

// Sizes
@std-padding: 20px;
@huge: 5000px;
@header-size: 40px;

/* ==========================================================================
Global selectors
========================================================================== */

html {
    overflow-y: scroll;
}

// Silliness to stick footer to the bottom
//html, body {
    //margin:0;
    //padding:0;
    //height:100%;
//}
//#wrapper {
	//min-height:100%;
	//position:relative;
//}
//#content {
	//padding-bottom: 260px;   /* Height of the footer element */
//}
//footer {
	//width:100%;
	//height:250px;
	//position:absolute;
	//bottom:0;
	//left:0;
//}
#content { 
    // temp fix for footer position
    min-height: 600px;
    margin-bottom: 40px;
}

body {
    background-color: @bodyBackground;
    color: @bodyText;
    font-family: @fontDefault;
    padding-top: @header-size;
    @media @sm_down {
        padding-top: @header-size * 2;
    }
}

.row.no-pad {
    margin-left: 0;
    margin-right: 0;
}
.row.no-pad > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}

// HACK! HACK! HACK! For simplicity's sake, these don't work exactly
// like the standard bootstrap classes: whereas bootstrap col-sz-n
// will set the width for sz-and-greater to n, these apply an extra
// half column to exactly the size specified ONLY (for more control).
.generate-col-extra-half();
.generate-col-extra-half(@n: 1) when (@n =< 11) {
    @p: percentage((1/12)*(@n + .5));
    .col-xs-@{n}.col-xs-extra-half { @media @xs { width: @p; } }
    .col-sm-@{n}.col-sm-extra-half { @media @sm { width: @p; } }
    .col-md-@{n}.col-md-extra-half { @media @md { width: @p; } } 
    .col-lg-@{n}.col-lg-extra-half { @media @lg { width: @p; } }
    .generate-col-extra-half(@n + 1); 
}

a:link, a:visited, a:hover {
    color: @brando;
}

// Let's add some pointers

.icon-button, .module-list-item, .filter, .values li, .tags li,
#idealab-list tbody tr, #idealab-list thead th, .tab, .pointer, 
.share-icon, .vote, .logout {
    cursor: pointer;
}
.values li:hover, .tags li:hover {
    text-decoration: underline;
}

/* ==========================================================================
Type
========================================================================== */

h1, h2, h3, h4 {
    font-family: @fontHeadersDefault;
}
h1 {
    line-height: 1;
}

/* ==========================================================================
Layout
========================================================================== */

body.portrait {
    // Quick hack for responsive issues
    background: url('/ui/img/BSol_Rotate.png') no-repeat top left;
    background-size: cover;
    #content, header.site-header, footer.site-footer {
        display: none;
    }
}

// Inital size of #content to avoid the weird lag on initial load
#content {
    //min-height: 500px;
}
footer.site-footer {
    background: black;
    padding-top: 20px;
    padding-bottom: 20px;
    a:link, a:visited {
        color: lighten(@bodyText, 20%);
    }
    a:hover {
        color: white;
    }
    h1 {
        text-indent: -5000px;
        margin-bottom: 0px;
    }
    .tce h1 {
        background: url('/ui/img/TCEwordmark-bw.svg') no-repeat;
        background-size: 170px;
    }
    .bsol h1 {
        background: url('/ui/img/BSOLwordmark-bw.svg') no-repeat;
        background-size: 170px;
    }
    .copyright {
        margin-top: 20px;
    }
}

/* ==========================================================================
Modules
========================================================================== */

// Module: Header navigation, .site-nav
header.site-header {
    .overflow-rect(@color) {
        position: absolute;
        background-color: @color;
        height: 100%;
        content: "";
        width: @huge;
    }
    background: black;
    padding-left: 0px;
    .icon-button {
        color: white;
        font-size: 1.2em;
        line-height: @header-size;
    }
    .tce {
        height: @header-size;
        background: black;
        // Extended nav coloring
        position: relative;
        &:before {
            .overflow-rect(black);
            right: 100%;
        }
        @media @sm_down {
            &:after {
                .overflow-rect(black);
                left: 100%;
            }
        }
        h1 {
            background: url('/ui/img/TCEwordmark.svg') no-repeat 0px 10px black;
            text-indent: -5000px;
            width: 220px;
            margin: 0px;
            float: left;
        }
    }
    .bsol {
        height: @header-size;
        background-color: @brando;
        // Extended nav coloring
        position: relative;
        &:after {
            .overflow-rect(@brando);
            left: 100%;
        }
        @media @sm_down {
            &:before {
                .overflow-rect(@brando);
                right: 100%;
            }
        }
        h1 {
            background: url('/ui/img/BSOLwordmark.svg') no-repeat 0px 10px;
            float: left;
            width: 200px;
            text-indent: -5000px;
            margin: 0px 0px 0px 15px;
            cursor: pointer;
            @media @sm_down { 
                margin: 0; 
            }
        }
        .dropdown-menu {
            background-color: @brando;
            top: 37px;
            left: 0px;
            width: 279px;
            border-radius: 0px;
            text-align: center;
        }
        .dropdown-menu li {
            border-bottom: 1px solid rgba(121, 121, 130, 0.3)
        }
        .dropdown-menu li a {
            font-family: @fontHeadersDefault;
            font-size: 1.4em;
            text-transform: uppercase;
            color: white;
        }
        .dropdown-menu li a:hover {
            background-color: #2e748a;
        }
        .dropdown-menu li.social a:hover {
            background-color: @brando;
            color: black;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 0px;
        }
        .dropdown-menu > li.social > a {
            display: inline;
            padding: 0px;
        }
        .dropdown-menu li.social {
            padding-top: 8px;
            border-bottom: none;
        }
        .icon-menu {
            float: left;
        }
        .icon-gallery {
            float: right;
        }
        .icon-lab {
            float: right;
            margin-right: 10px;
        }
        .user-indicator {
            color: @brando;
            float: right;
            background: @lightBrando;
            border-radius: 20px;
            margin: 6px 10px 0 0;
            padding: 2px 16px 2px 6px;
            .logout {
                background: white;
                font-weight: bold;
                font-size: 150%;
                border-radius: 10px;
                height: 18px;
                width: 18px;
                display: inline-block;
                text-align: center;
                line-height: 18px;
                margin-right: 5px;
                position: relative;
                top: 2px;
                &:hover {
                    background: @brando;
                    color: white;
                }
            }
            .username {
                margin: 0;
                display: inline;
            }
        }
    }
}

// Module: Modules list view (gallery view)
// body.modules-list-view
body.modules-list-view {
    #modules-gallery {
        header {
            border-top: 1px solid rgb(133, 130, 130);
            padding: 12px 0 0;
        }
        header ul {
            padding-top: 6px;
            li {
                color: @brando;
                font-family: @fontHeadersDefault;
                font-size: 1.438em;
                text-transform: uppercase;
            }
            li.filter {
                color: fadeout(black, 35%);
            }
            li.reset {
                color: fadeout(black, 35%);
            }
            li.reset:hover {
                color: black;
            }
            li.reset.active {
                color: black;
            }
            li.values:hover {
                color: fadeout(@value, 35%);
            }
            li.values.active {
                color: @value;
            }
            li.stories:hover {
                color: fadeout(@story, 35%);
            }
            li.stories.active {
                color: @story;
            }
            li.solutions:hover {
                color: fadeout(@solution, 35%);
            }
            li.solutions.active {
                color: @solution;
            }
            li.theories:hover {
                color: fadeout(@theory, 35%);
            }
            li.theories.active {
                color: @theory;
            }
        }
        #filter-passion {
            position: relative;
            left: 4px;
        }
        #filter-passion.highlight {
            background: @brando;
        }
    }
    .module-list-item {
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        width: 33.3%;
    }
    .module-list-item.size-1 {
        height: 250px;
    }
    .module-list-item.size-2 {
        height: 300px;
    }
    .module-list-item.size-3 {
        height: 400px;
    }
    .module-list-item.media { // Tag class clashes with bootstrap class! :)
        margin-top: 0;
    }
    .caption {
        width: 100%;
        height: 100%;
        margin: 0;
        color: white;
        padding: 22px;
        background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
    }
    h5 {
        font-family: @fontHeadersDefault;
        margin: 0;
        text-transform: uppercase;
        font-size: 1.125em;
    }
    h3 {
        font-family: @fontDefault;
        font-size: 1.5em;
        background: none;
        margin: 0;
        .text-shadow;
    }
}

// Module: Value detail view
// body.value-detail-view
body.value-detail-view {
    #content {
        padding-top: 0px;
    }
}
article#value {
    #related-list {
        .module-list-item {
            height: 198px;
            color: white;
            width: 33.3%;
            border-right: 2px solid white;
            border-bottom: 2px solid white;
        }
        .module-list-item.media { // Tag class clashes with bootstrap class! :)
            margin-top: 0;
        }
        .caption {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
            margin: 0;
            padding: 0;
        }
        h5 {
            font-family: @fontHeadersDefault;
            margin: 0;
            text-transform: uppercase;
        }
        h3 {
            font-family: @fontDefault;
            font-size: 1em;
            background: none;
            margin: 0;
            .text-shadow;
        }
        .caption {
            padding: 6px;
        }
    }
    header {
        margin-top: 20px;
        margin-right: @std-padding;
        .type {
            text-transform: uppercase;
            position: relative;
            top: 5px;
        }
        h1 {
            margin: 0;
            font-size: 4.375em;
            line-height: 52px;
            margin: 14px 0px 20px 0px;
        }
        h5 {
            font-family: @fontHeadersDefault;
            margin: 0;
            font-size: 1.188em;
        }
    }
    section #summary {
        margin-right: @std-padding;
    }
    .see-more-values{
        background-color: @brando;
        color: white;
        font-size: 10px;
        margin-top: 20px;
        text-transform: uppercase;
    }
    #share {
        color: @brando;
        text-transform: uppercase;
        .icon {
            cursor: pointer;
            font-size: 1.5em;
        }
    }
}

// Module: Module detail view
// body.module-detail-view
article#module {
    figure {
        .background-wrapper {
            z-index: -1;
            position: fixed;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
            img {
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                margin: auto;
                min-width: 50%;
                min-height: 50%;
                /*
                // Find a better solution
                position: fixed;
                top: 0; left: 0;
                width: 100%;
                z-index: -9999;
                */
            }
        }
        figcaption {
            .mixin-photocredits;
            position: relative;
            top: 10px;
            min-height: 40px;
        }
    }
    header {
        margin-top: 20%;
        .type, .title {
            .ow-mine-eyes;
            color: white;
            padding: 0 @std-padding;
        }
        .type {
            text-transform: uppercase;
            position: relative;
            top: 5px;
        }
        h1 {
            margin: 0;
            font-size: 4.375em;
        }
        h5 {
            font-family: @fontHeadersDefault;
            margin: 0;
            font-size: 1.188em;
        }
    }
    section {
        background: white;
        padding: @std-padding;
        .share-icon {
            float: right;
            color: @brando;
            > i {
                font-size: 1.5em;
            }
        }
        .byline {
            border-right: 1px solid @lightGray;
            font-size: 0.9em;
            font-weight: bold;
        }
        .byline span {
            color: @bodyText;
            text-transform: uppercase;
            font-weight: normal;
        }
        .tags span {
            margin-right: 14px;
        }
        .values {
            padding-left: 10px;
        }
        .values span, .tags span, .meta-info dt {
            color: @meta;
            font-size: 0.7em;
            font-weight: bold;
            text-transform: uppercase;
        }
        .meta-info {
            color: @meta;
            line-height: 2em;
            dt {
                float: left;
                clear: left;
                width: 40px;
                line-height: 2em;
            }
            dd {
                font-size: 0.8em;
                line-height: 2em;
            }
            dd:after {
                content: '';
                display: block;
                clear: both;
            }
        }
        .values li, .tags li {
            color: @brando;
            font-size: 0.9em;
        }
        #summary {
            margin-top: 10px;
            font-family: "source-sans-pro",sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 1.150em;
        }
        .meta {
            float: left;
            width:100%;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 10px 0px 6px 0px;
        }
        .icon-tags {
            float: left;
            width: 4%;
        }
        .meta-info {
            float: left;
            width: 94%;
        }
    }
    #button-bar button {
        .button-style;
    }
    aside#learn-more {
        margin-bottom: 20px;
        h2 {
            background: @bodyText;
            color: white;
            font-size: 1.436em;
            font-family: @fontHeadersDefault;
            font-weight: normal;
            padding: 4px 0px 0px 20px;
            text-transform: uppercase;
            // FF rendering bug 
            display: inline-block;
            width: 100%;
        }
        .learn-more-type {
            padding-left: 35px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.7em;
        }
        .learn-more-item {
            padding-right: 30px;
        }
    }
    aside#related-entries {
        color: white;
        h3.list-header {
            background: black;
            text-transform: uppercase;
            margin: 0 1px;
            padding: 2px 0 0 4px;
        }
        .module-list-item {
            width: 32.8%;
            min-height: 100px;
            float: left;
            margin-left: 2px;
            margin-top: 2px;
            background-image: none !important;
            h5 {
                font-family: @fontHeadersDefault;
                margin: 0;
                text-transform: uppercase;
            }
            h3 {
                font-family: @fontDefault;
                font-size: 1em;
                background: none;
                margin: 0;
                .text-shadow;
            }
            .caption {
                padding: 6px;
            }
        }
        .theory {
            background-color: fadeout(@theory, 45%);
        }
        .solution {
            background-color: fadeout(@solution, 45%);
        }
        .story {
            background-color: fadeout(@story, 45%);
        }
    }
}

// Module: IdeaLab-detail
article#idealab-detail {
    header {
        margin-top: 26px;
        margin-right: 20px;
        margin-left: 20px;
        h1 {
            margin: 0;
            font-size: 4.375em;
            margin-top: 24px;
        }
        h5 {
            font-family: @fontHeadersDefault;
            margin: 0;
            font-size: 1.188em;
        }
        #button-bar button {
            .button-style(@bodyText, @buttons);
        }
    }   
    section {
        padding: 0 @std-padding @std-padding @std-padding;
        .share-icon {
            float: right;
            color: @brando;
            > i {
                font-size: 1.5em;
            }
        }
        .module-type-icon {
            &.value { color: @value; }
            &.story { color: @story; }
            &.solution { color: @solution; }
            &.theory { color: @theory; }
        }
        // So confusing it might as well be minified
        .byline, .date-added {
            border-right: 1px solid @lightGray;
            padding-right: 10px;
        }
        .module-type-icon, .date-added, .vote {
            padding-left: 10px;
            text-transform: uppercase;
        }
        .byline, .module-type-icon, .date-added {
            font-size: 0.9em;
            font-weight: bold;
            span {
                color: @bodyText;
                text-transform: uppercase;
                font-weight: normal;
            }
        }
        .date-added span {
            text-transform: none;
        }
        // End confusing section
        .vote {
            transition: color .5s ease;
            color: @brando;
            font-weight: bold;
            i {
                font-size: 1.4em;
            }
            &.loved {
                color: transparent;
                i { color: darken(red, 10%); }
            }
        }
        .icon-tags {
            float: left;
            width: 4%;
        }
        .meta {
            float: left;
            width:100%;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 10px 0px 6px 0px;
        }
        .tags span {
            color: @meta;
            font-size: 0.7em;
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 14px;
        }
        .tags li {
            color: @brando;
            font-size: 0.9em;
        }
        #summary {
            padding-top: @std-padding;
        }
        // Improvements...
        h2.learn-more {
            background: @bodyText;
            color: white;
            font-size: 1.436em;
            font-family: @fontHeadersDefault;
            font-weight: normal;
            padding: 4px 0px 0px 20px;
            text-transform: uppercase;
            // FF rendering bug 
            display: inline-block;
            width: 100%;
        }
        h4.type {
            text-transform: uppercase;
            margin-top: 14px;
            margin-bottom: 0;
        }
        div.improvement {
            //margin-top: 6px;
            //margin-bottom: 14px;
            margin: 10px 0;
            padding-bottom: 6px;
            border-bottom: 1px solid #eee;
            p:first-of-type {
                padding-top: 6px;
            }
        }
    }
}
// Module: IdeaLab-list
article#idealab-list {
    .tab {
        font-family: @fontHeadersDefault;
        font-size: 1.4em;
        color: white;
        text-transform: uppercase;
        line-height: 1em;
        display: inline-block;
        background-size: cover;
        &.tab-active { 
            background-image: url('/ui/img/tab-blue.svg'); 
            z-index: 2;
        }
        &.tab-inactive { 
            background-image: url('/ui/img/tab-gray.svg'); 
            z-index: 1;
        }
        // There's some nutty math behind this actually working
        padding: 10px 16px;
        width: 160px;
        position: relative;
        right: 6px;
        &:nth-of-type(1) { // fancy!
            right: 0;
        }
    }
    header {
        margin-top: @header-size;
        margin-right: 20px;
        margin-left: 20px;
        h1 {
            margin: 0;
            font-size: 4.375em;
        }
        h4 {
            font-family: @fontHeadersDefault;
            margin: 0;
            text-transform: uppercase;
        }
        p {
            margin-top: 20px;
            margin-bottom: 20px; 
        }
    }   
    table {
        @bordersize: 6px;
        th, td {
            padding: 10px 15px;
            border-bottom: 1px solid @gray;
            line-height: 1em;
        }
        thead tr {
            border-left: @bordersize solid @brando;
        }
        tbody tr {
            border-left: @bordersize solid transparent;
            &:hover {
                td { background: lighten(@brando, 40%); }
                color: @brando;
            }
            i.disabled.icon-usersubmit {
                color: lighten(@gray, 30%);
            }
        }
        th:last-child, td:last-child { // icon column
            text-align: center;
            min-width: 80px;    // prevent heart icon from wrapping
        }
        th {
            text-transform: uppercase;
            font-family: @fontHeadersDefault;
            font-weight: normal;
            font-size: 1.4em;
            vertical-align: bottom;
            line-height: 1em;
            color: @darkGray;
            background: @brando;
            border-bottom: none;
            &.selected { color: white; }
            &.selected:after {
                content: "";
                width: 0; height: 0;
                border-style: solid;
                border-width: 0 5px 5px 5px;
                border-color: transparent transparent white transparent;
                position: relative;
                bottom: 16px;
                left: 4px;
            }
            &.selected.backward:after {
                border-width: 5px 5px 0 5px;
                border-color: white transparent transparent transparent;
                top: 14px;
            }
        }
        &#idealab-published {
            tr.value { border-left: @bordersize solid @value; }
            tr.story { border-left: @bordersize solid @story; }
            tr.solution { border-left: @bordersize solid @solution; }
            tr.theory { border-left: @bordersize solid @theory; }
        }
        &#idealab-submitted {
            tr.submitted { 
                border-left: @bordersize solid @gray; 
                color: lighten(@gray, 30%);
            }
            tr.published { border-left: @bordersize solid @brando; }
        }
        @media @md_up {
            .hoverMix(@name) {
                tbody tr:hover.@{name} .hover-tab:before { content: "@{name}"; background: @@name; }
                tbody tr:hover.@{name} .hover-tab:after { border-color: transparent @@name transparent transparent; }
            }
            .hoverMix(value); .hoverMix(story); .hoverMix(theory); .hoverMix(solution);
            .hoverMix(submitted); .hoverMix(published);
            @submitted: @gray; @published: @brando;
            // TODO: wordsmith; also wtf @less
            tbody tr:hover.submitted .hover-tab:before { content: "Awaiting moderation"; }
            tbody tr:hover.published .hover-tab:before { content: "Awaiting improvements"; }
            tbody tr:hover.solution .hover-tab:before { content: "Published to Gallery"; }
            // XXX: this used to be necessary but now isn't??
            //tbody tr .hover-tab { &:before, &:after { display: none; } }
            tbody tr:hover .hover-tab {
                position: relative;
                .hoverTab() {
                    color: white;
                    position: absolute;
                    display: inline-block;
                    z-index: 1;
                    text-align: left;
                    text-transform: uppercase;
                    font-family: @fontHeadersDefault;
                    font-size: 20px;
                    top: -4px;
                }
                &:before {
                    .hoverTab;
                    line-height: 24px;
                    background: @gray;
                    padding-right: 10px;
                    padding-left: 5px;
                    left: 48px;
                }
                &:after {
                    .hoverTab;
                    content: "";
                    width: 0; height: 0;
                    border-style: solid;
                    border-width: 12px 12px 12px 0;
                    border-color: transparent @gray transparent transparent;
                    left: 36px;
                }
            }
        }
    }
}
#idealab-sidebar {
    padding: @std-padding;
    background: @lightBrando;
    button, input[type=button] {
        .button-style;
    }
    button[class^="add-"] { // full-width
        &.selected {
            .button-style(@bodyText, @bodyText);
        }
        display: block;
        width: 100%;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    input[class^="add-"] { // contribute buttons
        margin-top: 12px;
        padding-left: 28px;
        padding-right: 28px;
    }
    input[type=text], textarea {
        padding: 8px;
        display: block;
        width: 100%;
        background: white;
        border: none; //1px solid @lightGray;
        &:focus {
            box-shadow: none;
            outline: 0 none;
        }
        &:disabled {
            background: @lightGray;
            color: @lightGray;
        }
    }
    textarea { resize: none; }
    form h4 {
        text-transform: uppercase;
        margin-bottom: 4px;
    }
    h1, h2 {
        text-transform: uppercase;
    }
    div.icon-wrapper {
        i {
            font-size: 60px;
        }
    }
    .server-error {
        font-family: monospace;
        font-size: 20px;
        display: block;
    }
    .field-error {
        padding: 6px;
        color: red;
    }
    .asterisk:after {
        color: darken(@brando, 30%);
        content: "\2217";   // baseline-aligned asterisk
        font-size: 20px;
    }
    div.login-icons {
        .login-google {
            i { 
                color: @google; 
            }
        }
        .login-facebook {
            i { 
                color: @facebook; 
            }
        }
        .login-twitter {
            i { 
                color: @twitter; 
            }
        }
        .provider {
            display: inline-block;
            padding-bottom: 0;
            div {
                display: block;
                position: relative;
                bottom: 8px;
            }
        }
        a {
            font-size: 60px;
        }
        text-align: center;
        background: white;
        padding-top: 10px;
    }
}

/* Module: Share widget */

ul.share-tools {
    padding: 0px;
    margin: 0px;
    min-width: 64px;
}

// Module: Instagram
body.value-detail-view, body.modules-list-view {
    .module-list-item {
        &.theory .caption { .instagram(@theory); }
        &.story .caption { .instagram(@story); }
        &.value .caption { .instagram(@value); }
        &.solution .caption { .instagram(@solution); }
    }
}
body.module-detail-view figure .filter {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -9998;
    opacity: .5;
    &.theory { .instagram(@theory, 60em); }
    &.story { .instagram(@story, 60em); }
    &.value { .instagram(@value, 60em); }
    &.solution { .instagram(@solution, 60em); }
}

// Module: About
// body.about-view
body.about-view {
    background-color: @backgroundAbout;
    color: white;
    section {
        padding-top: 40px;
    }
    #about-copy {
        padding-right: 100px; // TODO Adrian, please do your fancy half-column thing here!
        p {
            font-size: 1.125em;
        }
    }
    h2, h3 {
        font-face: @fontHeadersDefault;
    }
    h2 {
        text-transform: uppercase;
    }
    h3 {
    }
    .tab {
        font-family: @fontHeadersDefault;
        font-size: 1.43em;
        color: white;
        text-transform: uppercase;
        line-height: 1em;
        display: inline-block;
        background-size: cover;
        &.tab-active { 
            background-image: url('/ui/img/tab-blue.svg'); 
            z-index: 2;
        }
        &.tab-inactive { 
            background-image: url('/ui/img/tab-gray.svg'); 
            z-index: 1;
        }
        // There's some nutty math behind this actually working
        padding: 11px 16px;
        width: 160px;
        position: relative;
        right: 6px;
        &:nth-of-type(1) { // fancy!
            right: 0;
            top: 26px;
        }
    }
    #team {
        background-color: @brando;
        margin-top: 20px;
        padding: 10px 30px 10px 17px;
        a:link, a:visited {
            color: white;
            text-decoration: underline;
        }
        a:hover {
            color: black;
        }
    }
}

/* ==========================================================================
Progressively enhance for larger screens
========================================================================== */

@media @lg { /* Adjust for large desktop */

}

@media @md { /* Adjust for standard desktop */

}

@media @sm { /* portrait tablets */

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* Put high-resolution display styles here */
}

/* ==========================================================================
Print styles.
Should be inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

// Don't show links for images, or javascript/internal links

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; // h5bp.com/t //
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

// Custom font icons
@font-face {
  font-family: 'bsol';
  src: url('../fonts/bsol.eot?78094920');
  src: url('../fonts/bsol.eot?78094920#iefix') format('embedded-opentype'),
       url('../fonts/bsol.woff?78094920') format('woff'),
       url('../fonts/bsol.ttf?78094920') format('truetype'),
       url('../fonts/bsol.svg?78094920#bsol') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bsol';
    src: url('../font/bsol.svg?78094920#bsol') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bsol";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-gallery:before { content: '\e800'; } /* '' */
.icon-usersubmit:before { content: '\e801'; } /* '' */
.icon-lab:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-love:before { content: '\e804'; } /* '' */
.icon-share:before { content: '\e805'; } /* '' */
.icon-tag:before { content: '\e806'; } /* '' */
.icon-icn-social-fb-2:before { content: '\e807'; } /* '' */
.icon-icn-social-twitter-2:before { content: '\e808'; } /* '' */
.icon-icn-social-vimeo-2:before { content: '\e809'; } /* '' */
.icon-icn-social-yt-2:before { content: '\e80a'; } /* '' */
.icon-search-2:before { content: '\e80b'; } /* '' */
.icon-icn-social-gplus-2:before { content: '\e80c'; } /* '' */
