<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% include head.html %}
    <body class="{{ page.layout }}" id="{{ page.slug || 'front' }}">
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <noscript id="js-warning">
            This page requires Javascript. Your browser either doesn't support JavaScript or you have it turned off. Please enable JavaScript before you proceed.
        </noscript>
        {% include header.html %}

        <div id="content">
            <div class="container">
                <article id="solution">
                    <header>
                        <h1>Factor E Farm</h1>
                    </header>
                    <div id="solution-body">
                        <div class="row">
                        <div class="col-md-4">
                            <img alt="" src="http://placehold.it/280x200" />
                        </div>
                        <div class="col-md-8">
                            <p>Factor E Farm is an experiment in creating resilient communities through open-source design. Located in rural Missouri, Factor E Farm serves as the hub of a dispersed network of farmers, engineers, architects and supporters that is working to develop the Global Village Construction Set, “an open technological platform that allows for the easy fabrication of the fifty different industrial machines that it takes to build a small civilization with modern comforts.” The project is volunteer-driven, fully open source, and prioritizes cradle-to-cradle construction.</p>
                        </div>
                        </div>
                    </div>
                    <footer>
                        <h2>Related Values</h2>
                        <ul class="values">
                            <li>Open-source</li>
                            <li>Cultivates abundance</li>
                            <li>Closed-loop manufacturing/Cradle-to-cradle manufacturing</li>
                            <li>Promotes food sovereignty</li>
                            <li>Promotes resiliencep</li>
                        </ul>
                        <h2>Related Entries</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200" alt="...">
                                    <div class="caption">
                                        <h3>Traffic Mimes in Bogota</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200" alt="...">
                                    <div class="caption">
                                        <h3>The Commons</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/300x200" alt="...">
                                    <div class="caption">
                                        <h3>Environmental Justice</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer> 
                </article>
            </div>
        </div>

        {% include footer_scripts.html %}
    </body>
</html>
